body {
  font-family: "Courier New";
  color: #333;
}

h1 {
  font-weight: 400;
  font-size: 3em;
}


a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: auto;
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: dotted 1px #ccc;
}

.tagline {
  font-family: "Courier New";
}

.product {
  border: solid 1px yellow;
  margin: auto;
}

.sticker {
  border: solid 1px #333;
  width: 355px;
  padding: 5px;
  img {
    border: solid 1px #ccc;
  }
}

.payment-form {
  margin-top: 20px;
}

.footer {
  border-top: dotted 1px #ccc;
  text-align: center;
  padding: 20px;
  margin-top:200px;
}

#error_explanation {
  color: red;
}

.subscribe-button {
  background: hotpink;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer; 
}

.faq {
  margin-top: 200px;
}
