body {
  font-family: sans-serif;
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: auto;
}

.sticker {
  border: solid 1px #333;
  width: 505px;
  padding: 5px;
  img {
    border: solid 1px #ccc;
  }
}

.payment-form {
  margin-top: 20px;
}
