body {
  font-family: "Courier New";
  color: #333;
}

h1 {
  font-weight: 400;
  font-size: 3em;
}


a {
  color: #333;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: auto;
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: dotted 1px #ccc;
}

.tagline {
  font-family: "Courier New";
}

.cart {
  float: right;
  padding: 10px;
  background: rgba(255, 161, 161, 0.21);
  text-align: right;
  margin-top: 4px;
  clear:both;

  button.StripeCheckout {
    margin-left: 20px;
  }
}


.product {
  width: 100%;
  height: 450px;
  padding: 20px;
  border-bottom: dotted 1px black;
}

.stickerContainer {
  width: 365px;
  float: left;
}

.sticker {
  border: solid 1px #333;
  padding: 5px;

  img {
    border: solid 1px #ccc;
  }
}

.cartControls {
  float: left;
  margin-left: 20px;
  font-size: 16px;
  height: 100%;
  padding-top: 140px;
  box-sizing: border-box;

  .cartCount {
    padding: 6px 10px;

  }
  button {
    width: 140px;
    display: block;
    padding: 6px 10px;
    background: #333;
    color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    margin: 10px;
  }
}

.price {
  font-size: 20px;
  text-align: center;
}

.payment-form {
  margin-top: 20px;
}

.footer {
  border-top: dotted 1px #ccc;
  text-align: center;
  padding: 20px;
  margin-top:200px;
}

#error_explanation {
  color: red;
}

.subscribe-button {
  background: hotpink;
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer; 
}

.faq {
  margin-top: 200px;
}
