<%= javascript_pack_tag "App" %>

<%= content_tag :div,
  id: "store_data",
  data: { products: @products } do %>
<% end %>

<div id="store"></div>

<div class="faq">
  <h2>FAQ</h2>
  <h4>Are you really selling stickers?</h4>
  <p>Yes! This is for real. Order a pack of stickers and I will ship it to you.</p>

  <h4>Why do you have only one sticker?</h4>
  <p>More stickers coming shortly. Sign up to find out when they are ready to buy:</p>

  <p><%= render "shared/mailchimp" %></p>

  <h4>I want to make a store like this. Can you help me?</h4>
  <p>Lucky you! <a href="https://learnetto.com/tutorials/the-11-minute-guide-to-building-and-launching-an-online-store-with-rails-stripe-checkout-and-heroku" style="text-decoration: underline;">I made a video</a> to show you how to do it.</p>
</div>

