<h2>Thanks for your purchase!</h2>

<h3>Your stickers are on the way!</h3>

<%= image_tag "https://s3-us-west-2.amazonaws.com/stickers.win/thanks.gif" %>

<h3><%= link_to "Buy more stickers!", :root %></h3>

